/* {% load static%} */


*{
    padding: 0px;
    margin: 0px;
    font-family: 'josefine', sans-serif ;
    box-sizing: border-box;
}
nav{
    background-color: green;
    padding: 15px;   
    color: white;
    display: flex;
    justify-content: space-around;
}
nav > ul >li {
    display: inline;
    padding: 15px;
}
.register{
    cursor: pointer;
    display: flex;

}

li > a{
    text-decoration: none;
    color: white;
    justify-content: space-around;
    cursor: pointer;
}
.reg{
    padding: 0px 15px;

}
.burger{
    display: none;
}
.foot{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: green;
    text-align: center;
    color: white;
    padding: 15px;

}
.ft > li, form > li {
    list-style: none;
}
.ft{
    text-align: left;
}

input[type = 'text']{
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    
}
input[type = 'submit'] {
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 15px;

}

.one > h1 {
    font-size: 80px;
}
.reg > a, .login > a {
    text-decoration: none;
    color: white;
}
.hero{
    display: flex;
    width: 100%;
    height: 90vh;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.one, .two {
    margin: 2px;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    flex: 40%;
    flex-direction: column;
}
.two{
    flex: 60%;
}
a:hover {
	text-decoration: none;
	color: #57b846;
}
.article{
    width: 100%;
    /* background-color: rgb(47, 0, 255); */
    display: flex;
    justify-content: center;
    height: auto;
    /* align-items: center; */
}
.artone{
    flex: 75%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.arttwo{
    height: 100vh;
    position: sticky ;
    top: 0;
    text-align: center;
    flex: 25%;
    background-color: rgba(91, 246, 192, 0.407);
  }
  .sect > h1 {
    width: 75%;
    text-align: center;
  }
  .card {
    width: 25%;
    height: 300px;
    box-shadow: 1px 1px;
    background-color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(tech.png);
    margin: 10px;
  }
  .circle {
    position: absolute;
    width: 200px;
    border-radius: 100%;
    right: -50%;
    z-index: 1;
    height: 200px;
    background-color: rgb(106, 226, 106);
  }
  /* .circle:hover {
    transform: translateY(0px);
    background: none;
  } */
  .contain {
    position: absolute;
    bottom: -70px;
    padding: 15px;
    transition: 1s all;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    text-align: center;
    background-color:rgb(76, 216, 76);
    transform: translateY(130px);
  }
  .head {
    padding: 15px;
  }
  .title {
    padding: 15px;
    z-index: 20;
  }
  .contain:hover {
    background: none;
    transform: translateY(0px);
  }
  .art {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.arttwo > p {
    padding: 15px;
}
@media screen and (max-width:600px){
    .burger{
        display: block;
    }
    nav > ul >li{
        display: block;
    }
    ul{
        position: absolute;
        background-color: green;
        left: 0;
        right: 0;
        text-align: center;
        top: 40px;
        clip-path: polygon(0 0, 100% 0, 0 0, 100% 0);
        transition: 1s all;
    }
    .clipped{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 1s all;

    }
    .hero{
        flex-wrap: wrap;
    }
    .logo{
        flex: auto;
    }
    .one{
        text-align: center;
        padding: 20px;
    }
    .one > h1 {
        height: 30vh;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .one > p {
        font-size: smaller;
        width: 70%;
    }
    .foot{
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-between;
    }
    .sect > h1 {
        width: 100%;
        margin: 10px 0px;
        font-size: 20px;
        margin-top: 60px;
    }
    .article {
        width: 100%;
        flex-wrap: wrap;
    }
    .artone{
        flex: 100%;

    }
    .card {
        width: 40%;
    }
    .contain{
        height: 300px;
    }
    .contain:hover {
        transform: translateY(100px);
    }
    
}